<% form_for @poll do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
<h1>Boy Names</h1>

<h1>Girl Names</h1>
  <p>
    <%= f.label :story %><br />
    <%= f.text_area :story %>
  </p>
  <p><%= f.submit %></p>
<% end %>
