<% title "New Poll" %>

<% form_for :poll, :url => polls_path do |f| %>
  <div class="span-16 last">
    <label for="title">Title </label>
    <%= f.text_field :title %>
  </div>

  <div class="span-8">
    <h1>Boy Names</h1>
    <% (1..5).each do |i| %>
      <%= text_field_tag "name_".concat(i.to_s) %>      
    <% end %>
  </div>

  <div class="span-8 last">
    <h1>Girl Names</h1>
    <% (6..10).each do |i| %>
       <%= text_field_tag "name_".concat(i.to_s) %>      
    <% end %>
  </div>


  <div class="span-16 last">
    <h2>Story </h2>
    <%= f.text_area( :story, :size =>'60x5') %>
  </div>
  <div class="span-16 last">
    <input id="submit" name="submit" type="submit" value="Submit It"/>
  </div>

<% end %>

<p><%= link_to "Back to List", polls_path %></p>
