<% title [ApplicationController::Website_name, @title]*' | '  %>

<%= error_messages_for 'poll' %>

<% form_for :poll, :url => {:action => "create"} do |f| %>
  <div class="span-16 last">
    <label for="title">Title </label>
    <%= f.text_field :title%>
  </div>

  <div class="span-8">
    <h2 class="boy_title">Boy Names</h2>
    <div class="clear">&nbsp;</div>
    <% 5.times do |i| %>
      <% babyname = @poll.babynames[i] %>
        <div>
          <% fields_for "poll[babynames_attributes][]", babyname do |boy_form| %>
            <%= boy_form.text_field :name, :size => 25, :maxlength =>25  %>
            <%= boy_form.hidden_field :is_girl, :value => "false" %>
            <%= boy_form.hidden_field :num_votes, :value => "0" %>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class="span-8 last">
    <h2 class="girl_title">Girl Names</h2>
    <div class="clear">&nbsp;</div>
    <% 5.times do |i| %>
      <% babyname = @poll.babynames[i+5] %>
    <div>
      <% fields_for "poll[babynames_attributes][]", babyname do |girl_form| %>
        <%= girl_form.text_field :name, :size => 25, :maxlength =>25  %>
        <%= girl_form.hidden_field :is_girl, :value => "true" %>
        <%= girl_form.hidden_field :num_votes, :value => "0" %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="span-16 last">
    <h3 class="b_txt">Story </h3>
    <%= f.text_area( :story, :class => 'span-14', :rows => 3) %>
  </div>
  <div class="span-16 last bspaceit">
    <input id="submit" name="submit" type="submit" value="Publish" class="b_button"/>
  </div>

<% end %>
