<% title "Poll" %>

  <div class="span-16 last">
  <%=h @poll.title %>
</div>

  <div class="span-8">
<% unless @boys.empty? %>
    <h1 class="boy_title">Boy Names</h1>
  <% @boys.each do |bname| %>
  <div>
    <% form_tag( {:action => 'vote_name'}, :multipart => true) do  %>
      <%= hidden_field_tag(:poll_id, @poll.id) %>
      <%= hidden_field_tag(:name_id, bname.id) %>
      <%= submit_tag bname.name %>
    <% end %>  <%= bname.num_votes%>
  </div>
  <% end %>
<% end %> &nbsp;
  </div>

  <div class="span-8 last">
<% unless @girls.empty? %>
<h1 class="girl_title">Girl Names</h1>
  <% @girls.each do |gname| %>
  <div>
    <% form_tag( {:action => 'vote_name'}, :multipart => true) do  %>
      <%= hidden_field_tag(:poll_id, @poll.id) %>
      <%= hidden_field_tag(:name_id, gname.id) %>
      <%= submit_tag gname.name %>
    <% end %>  <%= gname.num_votes%>
  </div>
  <% end %>
<% end %>
  </div>
<% if @boys.empty? && @girls.empty? %>
<div class="span-16 last">
No names have been added
<% end %>
</div>
<div class="span-16 last">
  <%=h @poll.story %>
</div>

  
  <!-- %= link_to "Edit", edit_poll_path(@poll) % -->
  <!-- %= link_to "Destroy", @poll, :confirm =  'Are you sure?', :method = :delete % -->
  <!-- %= link_to "View All", polls_path % -->
  