<% title "Poll" %>

<p>
  <strong>Title:</strong>
  <%=h @poll.title %>
</p>
<% unless @boys.empty? %>
<h1>Boy Names</h1>
<ul>
  <% @boys.each do |bname| %>
  <li>
    <% form_tag( {:action => 'vote_name'}, :multipart => true) do  %>
      <%= hidden_field_tag(:poll_id, @poll.id) %>
      <%= hidden_field_tag(:name_id, bname.id) %>
      <%= submit_tag bname.name %>
    <% end %>  <%= bname.num_votes%>
  </li>
  <% end %>
</ul>
<% end %>

<% unless @girls.empty? %>
<h1>Girl Names</h1>
<ul>
  <% @girls.each do |gname| %>
  <li> 
    <% form_tag( {:action => 'vote_name'}, :multipart => true) do  %>
      <%= hidden_field_tag(:poll_id, @poll.id) %>
      <%= hidden_field_tag(:name_id, gname.id) %>
      <%= submit_tag gname.name %>
    <% end %>  <%= gname.num_votes%>
  </li>
  <% end %>
</ul>
<% end %>
<% if @boys.empty? && @girls.empty? %>
No names have been added
<% end %>
<p>
  <strong>Story:</strong>
  <%=h @poll.story %>
</p>

<p>
  
  <!-- %= link_to "Edit", edit_poll_path(@poll) %> |
  < %= link_to "Destroy", @poll, :confirm => 'Are you sure?', :method => :delete % --> |
  <%= link_to "View All", polls_path %>
  
</p>
