<% title "Poll" %>

<p>
  <strong>Title:</strong>
  <%=h @poll.title %>
</p>
<h1>Boy Names</h1>

<h1>Girl Names</h1>
<p>
  <strong>Story:</strong>
  <%=h @poll.story %>
</p>
<p>
  <strong>Created Date:</strong>
  <%=h @poll.created_at %>
</p>

<p>
  <%= link_to "Edit", edit_poll_path(@poll) %> |
  <%= link_to "Destroy", @poll, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", polls_path %>
</p>
