<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media =>'print' %>
    <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <%= yield(:head) %>
  </head>
  <body class="thebod">
    <div class="container">

      <!-- %- if show_title? -% -->
      <!-- %=h yield(:title) % -->
      <!-- %- end -% -->

      <div class="span-9 title">
        <h1><%= link_to "Onesie List", "/" %></h1>
      </div>
      <div class="span-15 last menu">
        <ul>
          <li><%= link_to "Home", "/" %> </li>
          <li><%= link_to "Create Poll", :controller => 'polls', :action => 'new' %> </li>
        </ul>
      </div>

      <div class="span-4">&nbsp;</div>

      <div class="span-16">
        <div>
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
        </div>
        <%= yield %>
      </div>

      <div class="span-4 last" > &nbsp; </div>

    </div>
    <div class="footer">
      <div class="container">
        <div class="span-9 footer_txt p_txt">
          &copy; 2010 website.com <br/>
          Designed modified from Happy Template at <a href="www.solucija.com">Solucija</a>.
        </div>
        <div class="span15 last footer_img"/>
      </div>
    </div>
  </body>
</html>
