<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media =>'print' %>
    <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <%= yield(:head) %>
    <meta name="description" content="A website to vote on baby names. Create
          your own nest or vote on other's nests." />
    <meta name="keywords" content="baby name, vote, boy, girl, boy name, girl name,
          nest, poll"/>
  </head>
  <body class="thebod">
    <div class="container tall">

      <!-- %- if show_title? -% -->
      <!-- %=h yield(:title) % -->
      <!-- %- end -% -->

      <div class="span-9 title">
        <h1><%= link_to ApplicationController::Website_name, :controller => 'application' %></h1>
      </div>
      <div class="span-15 last menu">
        <ul>
          <li><%= link_to "Home", :controller => 'application' %> </li>
          <li><%= link_to "Create a New Nest", new_poll_path %> </li>
          <li><a href="http://posterous.mynamenest.com">Blog</a> </li>
          <li><%= link_to "About", :controller => 'application', :action =>'about' %> </li>
        </ul>
      </div>

      <div class="span-4">&nbsp;</div>

      <div class="span-16">
        <div>
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
        </div>
        <%= yield %>
      </div>

      <div class="span-4 last" > &nbsp; </div>
    </div>

    <div class="footer"> 
      <div class="container">
        <div class="span-9 footer_txt p_txt">
          &copy; 2011 <%= link_to ApplicationController::Website_url, :controller => 'application' %>
          <br/>
          Designed modified from Happy Template at <a href="http://www.solucija.com">Solucija</a>.
        </div>
        <div class="span15 last footer_img"/>
      </div>
    </div>
    <!--script type="text/javascript" src="http://turnsocial.com/bar/84ed249ceced7c475a1b7f58074b7069.js"></script -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8827967-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
